<section class="py-20">
  <div class="container mx-auto px-6">
    <div class="grid md:grid-cols-3 gap-12">
      <app-feature-card 
        emoji="💌"
        title="AI-Powered Letters"
        description="Generate heartfelt letters using AI-powered suggestions for your significant others"
      ></app-feature-card>
      <app-feature-card class="delay-100"
        emoji="💗"
        title="Romantic Tones"
        description="Different tones for different occasions like poetic, playful and romantic"
      ></app-feature-card>
      <app-feature-card class="delay-200"
        emoji="🔒"
        title="Private & Secure"
        description="Dont Worry, your love letters stay between you and your sweetheart"
      ></app-feature-card>
    </div>
  </div>
</section>
