<section class="container mx-auto px-6 py-26 text-center">
  <div class="max-w-4xl mx-auto">
    <h1
      class="text-5xl md:text-6xl font-bold text-pink-400 mb-6 animate-fade-in-down"
    >
      Craft Digital Love Letters<br />
      <span class="text-pink-600">with AI Magic</span>
    </h1>
    <p class="text-xl text-pink-600 mb-8">
      Where code meets romance - Generate heartfelt letters using smart
      templates and AI-powered suggestions
    </p>
    <div class="flex justify-center space-x-4">
      <button
        type="button"
        class="btn btn-secondary bg-pink-500 hover:bg-pink-600 border-0 text-white px-8 py-4 text-lg"
      >
        <a routerLink="/generate" routerLinkActive="active"> 💌 Start Writing </a>
      </button>
      <button
        type="button"
        class="btn btn-secondary bg-pink-500 hover:bg-pink-600 border-0 text-white px-8 py-4 text-lg hidden md:inline-flex lg:inline-flex  lg:w-auto"
      >
        <a routerLink="/about" routerLinkActive="active"> ❤️‍🔥 Learn More </a>
      </button>
    </div>
    <div class="mt-12 animate-fade-in-down">
      <svg
        class="w-24 h-24 mx-auto text-pink-600"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </div>
  </div>
</section>
<app-features></app-features>
<app-footer></app-footer>
